<div class="container h-100 d-flex justify-content-center">

  <h1 class="text-center">Uczniowie</h1>
  <p-button [routerLink]="'/add-student'" icon="pi pi-plus"></p-button>

  <div class="table-responsive">
    <p-table [value]="students" styleClass="p-datatable-lg" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>#</th>
          <th>Imie</th>
          <th>Nazwisko</th>
          <th>Wiek</th>
          <th>Klasa</th>
          <th>Opcje</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-student>
        <tr>
          <td>{{ student.id }}</td>
          <td>{{ student.name }}</td>
          <td>{{ student.surname }}</td>
          <td>{{ student.age }}</td>
          <td>{{ student.class }}</td>
          <td>
            <button pButton type="button"class="p-button-danger" icon="pi pi-ban"(click)="deleteStudent(student.id)"></button>
            <p-button icon="pi pi-user-edit" (click)="editStudent(student.id)"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
