<nav class="navbar navbar-default">
    <div class="containter-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Biblioteka</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a routerLink="/students" routerLinkActive="active">Uczniowie</a></li>
                <li><a href="/books" routerLinkActive="active">Książki</a></li>
                <li><a href="#">Wypożyczenia</a></li>
            </ul>
        </div> 
    </div>
</nav>
