<div>
    <form class="form-horizontal" #lendingAddForm="ngForm" (ngSubmit)="onSubmit(lendingAddForm.value)" ngNativeValidate>
      <div class="form-group">
        <label class="control-label col-sm-5" for="pwd">Id</label>
        <div class="col-sm-2">
          <input id="id" type="id" aria-describedby="Id-help" class="ng-invalid ng-dirty" pInputText name="id" placeholder="id" ngModel/>
          <small *ngIf="!idError" id="id-help" class="p-error block">Id niedostępne.</small>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-5" for="pwd">Książka</label>
        <div class="col-sm-2">
            <select name="idBook" ngModel required>
                <option value="" disabled>Książka</option>
                <option *ngFor="let book of books" [ngValue]="book.id">
                  {{ book.id }} {{ book.title }} {{ book.author }}
                </option>
              </select>    
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-5" for="pwd">Uczeń</label>
        <div class="col-sm-2">
            <select name="idStudent" ngModel required>
                <option value="" disabled>Student</option>
                <option *ngFor="let student of students" [ngValue]="student.id">
                  {{ student.id }} {{ student.name }} {{ student.surname }}
                </option>
              </select>    
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-5" for="pwd">Data Wypożyczenia</label>
        <div class="col-sm-2">
            <input type="date" class="form-control" name="lendingDate" placeholder="lendingDate" ngModel required/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-7 col-sm-5">
          <button pButton type="submit" class="p-button-success">Dodaj</button>
          <p-button [routerLink]="'/lendings'">Anuluj</p-button>
        </div>
      </div>
    </form>
  </div>