<div class="container h-100 d-flex justify-content-center">
  <h1 class="text-center">Wypożyczenia</h1>
  <button pButton (click)="onShowForm()">{{ buttonFormText }}</button>
  <button
    pButton
    type="button"
    class="p-button-warning"
    (click)="onCancelEdit()"
    *ngIf="EditRowID !== ''"
  >
    anuluj
  </button>
  <div class="table-responsive" *ngIf="!formVisible">
    <p-table
      [value]="this.lendingStoreSrv.getLendings()"
      styleClass="p-datatable-lg"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>#</th>
          <th>Id Książki</th>
          <th>Id Ucznia</th>
          <th>Data Wypożyczenia</th>
          <th>Status</th>
          <th>Opcje</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-lending>
        <tr>
          <td *ngIf="lending.id === EditRowID">
            <input type="text" [(ngModel)]="lending.id" />
            <button
              pButton
              type="button"
              class="p-button-warning"
              (click)="Edit(lending.id)"
            >
              Zmień
            </button>
          </td>
          <td *ngIf="lending.id !== EditRowID" (click)="Edit(lending.id)">
            {{ lending.id }}
          </td>
          <td *ngIf="lending.id === EditRowID">
            <input type="text" [(ngModel)]="lending.idBook" />
            <button
              pButton
              type="button"
              class="p-button-warning"
              (click)="Edit(lending.id)"
            >
              Zmień
            </button>
          </td>
          <td *ngIf="lending.id !== EditRowID" (click)="Edit(lending.id)">
            {{ lending.idBook }}
          </td>
          <td *ngIf="lending.id === EditRowID">
            <input type="text" [(ngModel)]="lending.idStudent" />
            <button
              pButton
              type="button"
              class="p-button-warning"
              (click)="Edit(lending.id)"
            >
              Zmień
            </button>
          </td>
          <td *ngIf="lending.id !== EditRowID" (click)="Edit(lending.id)">
            {{ lending.idStudent }}
          </td>
          <td *ngIf="lending.id === EditRowID">
            <input type="date" [(ngModel)]="lending.lendingDate" />
            <button
              pButton
              type="button"
              class="p-button-warning"
              (click)="Edit(lending.id)"
            >
              Zmień
            </button>
          </td>
          <td *ngIf="lending.id !== EditRowID" (click)="Edit(lending.id)">
            {{ lending.lendingDate | date: "shortDate" }}
          </td>
          <td *ngIf="lending.status; else elseBlock">
            Nie oddano
            <button
              pButton
              class="p-button-success"
              (click)="this.lendingSrv.changeLendingStatus(lending)"
            >
              Oddaj
            </button>
          </td>
          <ng-template #elseBlock> <td>Oddano</td></ng-template>
          <td>
            <button
              pButton
              class="p-button-danger"
              (click)="deleteLending(lending.id)"
            >
              Usuń
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div *ngIf="formVisible">
    <form
      class="form-horizontal"
      #bookForm="ngForm"
      (ngSubmit)="onSubmit(bookForm.value)"
    >
      <div class="form-group">
        <label class="control-label col-sm-3" for="pwd">ID</label>
        <div class="col-sm-5">
          <input
            type="text"
            class="form-control"
            name="id"
            placeholder="id"
            ngModel
          />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3" for="pwd">Id Książki</label>
        <div class="col-sm-5">
          <select name="idBook" ngModel>
            <option value="" disabled>Id ksiązki</option>
            <option *ngFor="let book of this.bookStoreSrv.getBooks()" [ngValue]="book.id">
              {{ book.id }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3" for="pwd">Id Ucznia</label>
        <div class="col-sm-5">
          <select name="idStudent" ngModel>
            <option value="" disabled>Id Ucznia</option>
            <option *ngFor="let student of this.studentStoreSrv.getStudents()" [ngValue]="student.id">
              {{ student.id }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3" for="pwd"
          >Data Wypożyczenia</label
        >
        <div class="col-sm-5">
          <input
            type="date"
            class="form-control"
            name="lendingingDate"
            placeholder="Gatunek"
            ngModel
          />
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-7 col-sm-5">
          <button pButton class="p-button-success" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
