<div class="container h-100 d-flex justify-content-center">
  <h1 class="text-center">Wypożyczenia</h1>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Id Książki</th>
          <th>Id Ucznia</th>
          <th>Data Wypożyczenia</th>
          <th>Status</th>
          <th>Opcje</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lend of lending">
          <td>{{ lend.id }}</td>
          <td>{{ lend.idBook }}</td>
          <td>{{ lend.idStudent }}</td>
          <td>{{ lend.lendingDate | date: "shortDate" }}</td>
          <td *ngIf="lend.status; else elseBlock">
            Nie oddano
            <button class="btn btn-success" (click)="changeStatus(lend)">
              Oddaj
            </button>
          </td>
          <ng-template #elseBlock> <td>Oddano</td></ng-template>
          <td>
            <button class="btn btn-danger" (click)="deleteBook(lend)">
              Usuń
            </button>
            <button class="btn btn-warning">Edytuj</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <form
    class="form-horizontal"
    #bookForm="ngForm"
    (ngSubmit)="onSubmit(bookForm.value)"
  >
    <div class="form-group">
      <label class="control-label col-sm-3" for="pwd">ID</label>
      <div class="col-sm-5">
        <input
          type="text"
          class="form-control"
          name="id"
          placeholder="id"
          ngModel
        />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="pwd">Id Książki</label>
      <div class="col-sm-5">
        <select name="idBook" ngModel>
          <option value="" disabled>Id ksiązki</option>
          <option *ngFor="let state of sharedBooks" [ngValue]="state.id">
            {{ state.id }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="pwd">Id Ucznia</label>
      <div class="col-sm-5">
        <select name="idStudent" ngModel>
          <option value="" disabled>Id Ucznia</option>
          <option *ngFor="let state of sharedStudents" [ngValue]="state.id">
            {{ state.id }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="pwd">Data Wypożyczenia</label>
      <div class="col-sm-5">
        <input
          type="date"
          class="form-control"
          name="lendingDate"
          placeholder="Gatunek"
          ngModel
        />
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-7 col-sm-5">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
