<div class="container h-100 d-flex justify-content-center">

  <h1 class="text-center">Książki</h1>
  <p-button [routerLink]="'/add-book'" icon="pi pi-plus"></p-button>

  <div class="table-responsive" *ngIf="!formAddVisible && !formEditVisible">
    <p-table [value]="this.bookStoreSrv.getBooks()" styleClass="p-datatable-lg" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>#</th>
          <th>Tytuł</th>
          <th>Autor</th>
          <th>Gatunek</th>
          <th>Data wydania</th>
          <th>Opcje</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-book>
        <tr>
          <td>{{ book.id }}</td>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.type }}</td>
          <td>{{ book.releaseDate | date: "shortDate" }}</td>
          <td>
            <button pButton class="p-button-danger" (click)="deleteBook(book.id)">Usuń</button>
            <button pButton type="button" class="p-button-warning"(click)="onShowEdit(book)">Edytuj</button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div *ngIf="formEditVisible">
    <form class="form-horizontal" #bookFormEdit="ngForm" (ngSubmit)="onEdit(bookEdited,bookFormEdit.value)" ngNativeValidate>
      <div class="form-group">
        <label class="control-label col-sm-3" for="pwd">ID: {{ bookEdited.id }}</label>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3" for="pwd">Tytuł: {{ bookEdited.title }}</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" name="title" placeholder="Tytuł" ngModel required/>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3" for="pwd">Autor: {{ bookEdited.author }}</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" name="author" placeholder="Autor" ngModel required/>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3" for="pwd">Gatunek: {{ bookEdited.type }}</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" name="type" placeholder="Gatunek" ngModel required/>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3" for="pwd">Data wydania : {{ bookEdited.releaseDate | date: "shortDate" }}</label>
        <div class="col-sm-5">
          <input type="date" class="form-control" name="releaseDate" placeholder="Data" ngModel required/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-7 col-sm-5">
          <button pButton type="submit" class="p-button-success">Zapisz</button>
          <button pButton class="p-button-danger" (click)="onShowEdit(bookEdited)">Wróć</button>
        </div>
      </div>
    </form>
  </div>
</div>
