<div>
    <form class="form-horizontal" #bookAddForm="ngForm" (ngSubmit)="onSubmit(bookAddForm.value)" ngNativeValidate>
      <div class="form-group">
        <label class="control-label col-sm-5" for="pwd">ID</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" name="id" placeholder="id" ngModel required/>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-5" for="pwd">Tytuł</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" name="title" placeholder="Tytuł" ngModel required/>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-5" for="pwd">Autor</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" name="author" placeholder="Autor" ngModel required/>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-5" for="pwd">Gatunek</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" name="type" placeholder="Gatunek" ngModel required/>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-5" for="pwd">Data wydania</label>
        <div class="col-sm-2"><input type="date" class="form-control" name="releaseDate" placeholder="Data" ngModel required/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-7 col-sm-5">
          <button pButton type="submit" class="p-button-success">Dodaj</button>
        </div>
      </div>
    </form>
  </div>