<div class="container h-100 d-flex justify-content-center">
<h1 class="text-center">Uczniowie</h1>
<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Imie</th>
          <th>Nazwisko</th>
          <th>Wiek</th>
          <th>Klasa</th>
          <th>Opcje</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>{{ student.id }}</td>
          <td>{{ student.name }}</td>
          <td>{{ student.surname }}</td>
          <td>{{ student.age }}</td>
          <td>{{ student.class }}</td>
          <td>
            <button class="btn btn-danger" (click)="deleteStudent(student)">
              Usuń
            </button>
            <button class="btn btn-warning" (click)="deleteStudent(student)">
              Edytuj
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <form
    class="form-horizontal"
    #studentForm="ngForm"
    (ngSubmit)="onSubmit(studentForm.value)"
  >
    <div class="form-group">
      <label class="control-label col-sm-3" for="pwd">ID</label>
      <div class="col-sm-5">
        <input
          type="text"
          class="form-control"
          name="id"
          placeholder="id"
          ngModel
        />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="pwd">Imie</label>
      <div class="col-sm-5">
        <input
          type="text"
          class="form-control"
          name="imie"
          placeholder="Imie"
          ngModel
        />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="pwd">Nazwisko</label>
      <div class="col-sm-5">
        <input
          type="text"
          class="form-control"
          name="nazwisko"
          placeholder="Nazwisko"
          ngModel
        />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="pwd">Wiek</label>
      <div class="col-sm-5">
        <input
          type="number"
          class="form-control"
          name="wiek"
          placeholder="Wiek"
          ngModel
        />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="pwd">Klasa</label>
      <div class="col-sm-5">
        <input
          type="text"
          class="form-control"
          name="klasa"
          placeholder="Klasa"
          ngModel
        />
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-7 col-sm-5">
        <button type="submit" class="btn btn-primary">Dodaj</button>
      </div>
    </div>
  </form>
</div>  